.yarn
!.yarn/releases

# Generated code
pkg/claimgraph/build
pkg/claimgraph/generated
pkg/contracts/src/types
pkg/gating/src/generated
pkg/publishing/src/generated
abis/

node_modules
dist

# Publishing/gating password files
credentials.json
providers.json
collection-info.json
issuance-info.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
